body {
  margin: 1em;
  font-size: 1em;
  font-family: -apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue",
    sans-serif;
}

a, a:visited {
  color: black;
}

a.nav {
  display: inline-block;
  background-color: #EEE;
  color: black;
  padding: 0.6em 1em;
  margin-bottom: 0.2em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

/* do not hover on touch devices */
@media (hover: hover) {
  a.nav:hover {
    background-color: #DCDCDC;
  }
}

table#list tr:nth-child(even) {
  background: #F4F4F4;
}

table#list th, table#list td {
  padding: 0.3em 0.6em;
}

/* increase spacing on phones */
@media (max-width: 600px) {
  table#list th, table#list td {
    padding: 0.6em;
  }
}

table#list th {
  text-align: left;
  font-weight: bold;
  background: #EEE;
  border-bottom: 0.1em solid #AAA;
  /* reset fancyindex-generated column widths */
  width: initial !important;
}

table#list {
  border: 0.1em solid #AAA;
}

table#list th a {
  text-decoration: none;
}

table#list td a {
  text-decoration: underline;
  /* extend link area */
  padding-right: 3em;
}

div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 1em;
  margin-bottom: 1.5em;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #e2e2e2;
    background-color: #121212;
  }

  a, a:visited {
    color: #e2e2e2;
  }

  table#list tr:nth-child(even), table#list th {
    background: #202020;
  }

  a.nav {
    color: #e2e2e2;
    background-color: #282828;
  }

  @media (hover: hover) {
    a.nav:hover {
      background-color: #333333;
    }
  }
}
